<template id="tmpl-menu">
    <ul class="nav nav-pills ml-auto" id="menu" role="list">
        <li class="nav-item">
            <a href="#tab-agendas" class="btn" id="item-mls-agendas" onclick="Utils.getForm(this)">
                <i class="fa fa-calendar  mx-1 my-1" style="font-size:24px;" aria-hidden="true"></i>
                <span>Agendas</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#tab-messages" class="btn" id="item-mls-messages" onclick="Utils.getForm(this)">
                <i class="fa fa-comments mx-1 my-1" style="font-size:24px;" aria-hidden="true"></i>
                <span>Messages</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#tab-dashboard" class="btn active" id="item-mls-dashboard" onclick="Utils.getForm(this)">
                <i class="fa fa-bar-chart mx-1 my-1" style="font-size:24px;" aria-hidden="true"> </i>
                <label>Dashboard</label>
            </a>
        </li>
        <li class="nav-item">
            <a href="#tab-apps" class="btn" id="item-mls-apps" onclick="Utils.getForm(this)">
                <i class="fa fa-microchip  mx-1 my-1" style="font-size:24px;" aria-hidden="true"></i>
                <span>Apps</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#tab-profiles" class="btn" id="item-mls-profiles" onclick="Utils.getForm(this)">
                <i class="fa fa-id-card-o  mx-1 my-1" style="font-size:24px;" aria-hidden="true"></i>
                <span>Profiles</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#tab-users" class="btn" id="item-mls-users" onclick="Utils.getForm(this)">
                <i class="fa fa-users  mx-1 my-1" style="font-size:24px;" aria-hidden="true"></i>
                <span>Users</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#tab-logs" class="btn" id="item-mls-logs" onclick="Utils.getForm(this)">
                <i class="fa fa-tasks mx-1 my-1" style="font-size:24px;" aria-hidden="true"></i>
                <span>Logs</span>
            </a>
        </li>
    </ul>
</template>